@import "@jetbrains/ring-ui/components/global/variables.css";

@value unit from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: var(--ring-content-background-color);
}

.widget {
  composes: font from "@jetbrains/ring-ui/components/global/global.css";
}

.bytes {
  display: inline-block;

  margin-left: unit;

  color: var(--ring-hint-color);
}

.artifactIcon {
  margin-right: calc(unit / 2);

  vertical-align: 1px;

  color: var(--ring-line-color);
}

.fileSpacing {
  display: inline-block;

  width: calc(unit * 2);

  margin-right: calc(unit / 2);
}

