@import "@jetbrains/ring-ui/components/global/variables.css";

@value unit from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: var(--ring-content-background-color);
}

.widget {
  composes: font from "@jetbrains/ring-ui/components/global/global.css";
}

.bytes {
  display: inline-block;

  margin-left: unit;

  color: var(--ring-hint-color);
}

.artifactIcon {
  margin-right: unit;

  vertical-align: 1px;

  color: var(--ring-line-color);
}

.folderExpanderIcon {
  margin-right: calc(unit / 2);

  cursor: pointer;

  color: var(--ring-line-color);
}

.fileSpacing {
  display: inline-block;

  width: calc(unit * 2);

  margin-right: calc(unit / 2);
}

.padded {
  margin-left: calc(unit * 2);
}

.folderLoader {
  margin-left: calc(unit / 2);
}

.link {
  outline: none;
}

.build {
  margin-bottom: unit;

  line-height: calc(unit * 3);
}

.status {
  display: block;

  line-height: calc(unit * 2.5);
}

.icon {
  position: relative;
  top: -3px;

  width: 14px;
  margin-right: 2px;
}

.ok {
  color: var(--ring-icon-success-color);
}

.fail {
  color: var(--ring-icon-error-color);
}

.buildTime {
  color: var(--ring-secondary-color);

  font-size: 12px;
}
